<div class="enterprise-picker" (click)="isExpanded = !isExpanded">
  <span> {{ 'enterprise.sidebar.enterprise-picker.add-enterprise' | translate }} </span>
  <span class="spacer"></span>
  <span
    class="picker-arrow"
    [ngClass]="{ expanded: isExpanded, folded: !isExpanded }"
  >
    <fa-icon [icon]="arrowUp"></fa-icon>
  </span>
  <div class="picker-content" [hidden]="!isExpanded">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis necessitatibus
    corrupti, dolore minima atque voluptatem itaque dolorum? Magnam, vel ipsa.
  </div>
</div>
