<div class="action-group">
  <div class="action-group-header">
    {{ 'enterprise.sidebar.title' | translate }}
  </div>
  <a class="action" href="#navbar">
    <div class="action-icon">
      <fa-icon [icon]="department"></fa-icon>
    </div>
    {{ 'enterprise.sidebar.departments' | translate }}</a
  >
  <a class="action" href="#navbar">
    <div class="action-icon">
      <fa-icon [icon]="project"></fa-icon>
    </div>
    {{ 'enterprise.sidebar.projects' | translate }}</a
  >
  <a class="action" href="#navbar">
    <div class="action-icon">
      <fa-icon [icon]="user"></fa-icon>
    </div>
    {{ 'enterprise.sidebar.users' | translate }}</a
  >
  <a class="action" href="#navbar">
    <div class="action-icon">
      <fa-icon [icon]="billing"></fa-icon>
    </div>
    {{ 'enterprise.sidebar.billings' | translate }}</a
  >
</div>
