<nav id="navbar">
  <div class="enterprise-name">Enterprise Assistant</div>
  <div ngbDropdown (openChange)="toggleMenu()">
    <div class="navbar-menu" id="mainMenuDropdown" ngbDropdownToggle>
      Menu
      <fa-icon
        [icon]="arrowDown"
        size="xs"
        [ngClass]="{ 'navbar-menu-opened': isMenuOpened }"
      ></fa-icon>
    </div>
    <div
      ngbDropdownMenu
      aria-labelledby="mainMenuDropdown"
      class="navbar-menu-links"
    >
      <a ngbDropdownItem [routerLink]="'enterprise'">Enterprise</a>
      <a ngbDropdownItem [routerLink]="'department'">Department</a>
    </div>
  </div>
  <div class="spacer"></div>
  <div ngbDropdown>
    <div class="account-group" id="userDropdown" ngbDropdownToggle>
      <!-- <fa-icon [icon]="account"></fa-icon> -->
      <span>{{ ($appUser | async)?.name }}</span>
      <img
        src="https://i.pinimg.com/474x/34/30/a0/3430a061b7435ef0c58b1eff94453556.jpg"
        alt="onimel"
      />
      <fa-icon [icon]="caretDown"></fa-icon>
    </div>
    <div
      ngbDropdownMenu
      aria-labelledby="userDropdown"
      class="navbar-menu-actions"
    >
      <div ngbDropdownItem class="user-email">
        {{ ($appUser | async)?.email }}
      </div>
      <div class="dropdown-divider"></div>
      <a ngbDropdownItem [routerLink]="'enterprise'">
        <fa-icon [icon]="gear"></fa-icon>
        Settings
      </a>
      <a ngbDropdownItem [routerLink]="'department'">
        <fa-icon [icon]="invite"></fa-icon>
        Invites
      </a>
      <button ngbDropdownItem (click)="logout()">
        <fa-icon [icon]="signout"></fa-icon>
        Logout
      </button>
    </div>
  </div>
</nav>
