<nav id="navbar">
  <div class="enterprise-name">Enterprise Assistant</div>
  <div ngbDropdown (openChange)="toggleMenu()">
    <div class="navbar-menu" id="mainMenuDropdown" ngbDropdownToggle>
      Menu
      <fa-icon
        [icon]="arrowDown"
        size="xs"
        [ngClass]="{ 'navbar-menu-opened': isMenuOpened }"
      ></fa-icon>
    </div>
    <div ngbDropdownMenu aria-labelledby="mainMenuDropdown">
      <a ngbDropdownItem [routerLink]="'enterprise'">Enterprise</a>
    </div>
  </div>
  <div class="spacer"></div>
  <div ngbDropdown *ngIf="$appUser | async as appUser">
    <div class="account-group" id="userDropdown" ngbDropdownToggle>
      <!-- <fa-icon [icon]="account"></fa-icon> -->
      <span>{{ appUser.userDetails.firstName }}</span>
      <img
        src="{{ appUser.userDetails | avatar }}"
        alt="onimel"
      />
      <fa-icon [icon]="caretDown"></fa-icon>
    </div>
    <div
      ngbDropdownMenu
      aria-labelledby="userDropdown"
      class="navbar-menu-actions"
    >
      <div ngbDropdownItem class="user-email">
        {{ appUser.userDetails.email }}
      </div>
      <div class="dropdown-divider"></div>
      <ng-container *ngIf="$isEnterpriseUser | async">
        <a ngbDropdownItem [routerLink]="'/user/settings'">
          <fa-icon [icon]="gear"></fa-icon>
          Settings
        </a>
        <a ngbDropdownItem [routerLink]="'user/invite'">
          <fa-icon [icon]="invite"></fa-icon>
          Invites
        </a>
      </ng-container>
      <button ngbDropdownItem (click)="logout()">
        <fa-icon [icon]="signout"></fa-icon>
        Logout
      </button>
    </div>
  </div>
</nav>
