<div class="wrapper">
  <ng-container *ngIf="tasks$ | async as tasks; else loading">
    <div class="d-flex mb-4">
      <div class="spacer"></div>
      <button class="btn btn-primary" (click)="openTaskCreateModal()">
        Add new task
      </button>
    </div>
    <ng-container *ngIf="tasks.length > 0; else noContent">
      <div class="row gx-0 border border-2 bg-light p-2 mb-1 user-row">
        <div class="col-4 text-muted">Title</div>
        <div class="col text-muted">Status</div>
        <div class="col text-muted">Progress</div>
        <div class="col text-muted">Assigned users</div>
        <div class="col-2 text-muted">Actions</div>
      </div>
      <div
        *ngFor="let task of tasks"
        class="row gx-0 border border-2 user-row p-2 mb-1"
      >
        <div class="col-4">
          {{ task.title }}
        </div>
        <div class="col">
          In progress
        </div>
        <div class="col">
          <span ngbTooltip="0 of 2"> 0% </span>
        </div>
        <div class="col assigned-users">
          <app-task-members [taskId]="task.id"></app-task-members>
          <button
            class="btn btn-outline-primary assign-user-btn ms-1"
            (click)="openTaskAssignModal(task.id)"
          >
            <fa-icon [icon]="plus"></fa-icon>
          </button>
        </div>
        <div class="col-2 assigned-users">
          <button
            class="btn btn-outline-primary"
            (click)="openTaskDetailsModal(task)"
          >
            <fa-icon [icon]="pencil"></fa-icon>
          </button>
          <button
            class="btn btn-outline-primary ms-1"
            (click)="openTaskTrackModal(task.id)"
          >
            <fa-icon [icon]="clock"></fa-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>

<ng-template #noContent>
  <div class="card info">There are no tasks in this project yet.</div>
</ng-template>
