<div class="row gx-0 border border-2 bg-light p-2 mb-2 user-row">
  <div class="col text-muted">Photo</div>
  <div class="col text-muted">Name</div>
  <div class="col text-muted">Login</div>
  <div class="col text-muted">Email</div>
</div>
<div
  *ngFor="let user of $users | async"
  class="row gx-0 border border-2 border-success bg-light user-row p-2 mb-2"
>
  <div class="col">
    <img src="{{ user | avatar }}" class="profile-img" alt="Image" />
  </div>
  <div class="col">
    {{ user.firstName }}
    {{ user.lastName }}
  </div>
  <div class="col">
    {{ user.login }}
  </div>
  <div class="col">
    {{ user.email }}
  </div>
</div>
