<div *ngFor="let user of $users | async" class="card mb-2">
  <div class="row no-gutters profile-img-wrapper">
    <div class="col-md-4">
      <img
        src="../../../../assets/Portrait_Placeholder.png"
        class="profile-img"
        alt="Image"
      />
    </div>
    <div class="col-md-4 card-body">
      <h5 class="card-title">
        {{ user.firstName }}
        {{ user.lastName }}
      </h5>
      <small> aka </small> {{ user.login }}
    </div>
    <div class="col-md-4 card-body">
      {{ user.email }}
    </div>
  </div>
</div>
