<nav id="navbar">
  <div class="enterprise-name">Enterprise name</div>
  <div class="navbar-menu">
    Menu
    <fa-icon [icon]="arrowDown" size="xs"></fa-icon>
  </div>
  <div class="spacer"></div>
  <div class="account-group" (click)="switchLang()">
    <!-- <fa-icon [icon]="account"></fa-icon> -->
    <span>Nick777</span>
    <img
    src="https://i.pinimg.com/474x/34/30/a0/3430a061b7435ef0c58b1eff94453556.jpg"
    alt="onimel"
    />
    <fa-icon [icon]="caretDown"></fa-icon>
  </div>
</nav>
