$header-height: 3em;

header {
  height: $header-height;
  position: -webkit-sticky;
  position: sticky;

  top: 0;
  z-index: 1;
}

main {
  display: flex;

  height: calc(100% - $header-height);
  position: relative;
}

.sidebar-wrapper {
  position: -webkit-sticky;
  position: sticky;

  height: calc(100vh - $header-height);
  align-self: baseline;
  top: $header-height;
}

.vert-spacer {
  height: 300vh;
}

.content {
  width: 100%;
}
