.wrapper {
  padding: 2em;
}

.profile-img-wrapper {
  padding: 0.2em;
  max-height: 6em;
  aspect-ratio: 1 / 1;
  position: relative;

  .profile-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .edit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.user-row {
  display: flex;
  align-items: center;
  border-radius: 0.5em;
}
