<div class="wrapper">
  <div class="row gx-0 border border-2 bg-light p-2 mb-2 user-row">
    <div class="col text-muted">Photo</div>
    <div class="col text-muted">Name</div>
    <div class="col text-muted">Email</div>
  </div>
  <div
    *ngIf="$user | async as user; else loading"
    class="row gx-0 border border-2 p-2 mb-2 user-row"
  >
    <div class="col">
      <div class="profile-img-wrapper">
        <div class="edit">Edit</div>
        <img src="{{ user | avatar }}" class="profile-img" alt="Image" />
      </div>
    </div>
    <div class="col">
      {{ user.firstName }}
      {{ user.lastName }}
    </div>
    <div class="col">
      {{ user.email }}
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
