<div class="temp-wrapper">
  <form action="post">
    <div class="form-header">Create new account</div>
    <div class="form-controls">
      <div class="input-group mb-3">
        <span class="input-group-text">
          <fa-icon [icon]="at" [fixedWidth]="true"></fa-icon>
        </span>
        <input
          type="email"
          class="form-control"
          placeholder="Email *"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
          <fa-icon [icon]="lock" [fixedWidth]="true"></fa-icon>
        </span>
        <input
          type="password"
          class="form-control"
          placeholder="Password *"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
          <fa-icon [icon]="lock" [fixedWidth]="true"></fa-icon>
        </span>
        <input
          type="password"
          class="form-control"
          placeholder="Confirm password *"
        />
      </div>
      <button type="submit" class="btn-lg btn-primary mb-3">Sign Up</button>
    </div>
  </form>
</div>
