<div class="wrapper">
  <div *ngIf="$projects | async as projects; else loading">
    <div class="d-flex mb-4">
      <div class="spacer"></div>
      <button class="btn btn-primary" (click)="openCreateProjectModal()">
        Create new project
      </button>
    </div>
    <div *ngIf="projects.length > 0; else noContent">
      <div *ngFor="let project of projects" class="card mb-4">
        <div class="card-header">
          {{ project.name }}
        </div>
        <div class="card-body">
          {{ project.description }}
        </div>
        <div class="card-body">
          <a [routerLink]="['/project', project.id]" class="btn btn-primary"
            >Open</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noContent>
  <div class="card info">
    {{ 'enterprise.project.empty' | translate }}
  </div>
</ng-template>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
