<form [formGroup]="taskCreateForm">
  <div class="modal-header">
    <div class="mb-3">Create new task</div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label class="required col-form-label">Description:</label>
      <input
        type="text"
        class="form-control"
        id="task-title"
        name="task-title"
        formControlName="title"
      />
      <label for="task-description" class="col-form-label">Description:</label>
      <textarea
        rows="10"
        class="form-control"
        id="task-description"
        name="task-description"
        formControlName="description"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" (click)="save()">Save</button>
  </div>
</form>
