.wrapper {
  padding: 2em;
}

.profile-img {
  max-height: 3em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.user-row {
  display: flex;
  align-items: center;
  border-radius: 0.5em;
}

.action {
  display: flex;
  justify-content: end;
}

.text {
  padding: 1em;
  text-align: center;
  background-color: rgb(227, 227, 227);
  font-weight: 500;
}
