<div class="wrapper">
  <form [formGroup]="createEnterpriseForm" #myform="ngForm" class="card">
    <div class="card-header">Create new enterprise</div>
    <div formGroupName="enterprise" class="card-body">
      <h5>Enterprise</h5>
      <div class="from-group mb-2">
        <label class="required">Identifier</label>
        <input
          type="text"
          class="form-control form-control-sm"
          [ngClass]="{ 'is-invalid': hasError('enterprise.id') }"
          placeholder="Unique id of your enterprise"
          formControlName="id"
        />
        <small *ngIf="hasError('enterprise.id')">
          <div *ngIf="getValidationError('enterprise.id', 'error') as error">
            <fa-icon [icon]="warning"></fa-icon>
            {{ error }}
          </div>
          <div *ngIf="getValidationError('enterprise.id', 'required') as error">
            <fa-icon [icon]="warning"></fa-icon>
            This field is required
          </div>
        </small>
      </div>
      <div class="from-group mb-2">
        <label class="required">Displayed name</label>
        <input
          type="text"
          class="form-control form-control-sm"
          [ngClass]="{ 'is-invalid': hasError('enterprise.displayedName') }"
          placeholder="Displayed name"
          formControlName="displayedName"
        />
        <small *ngIf="hasError('enterprise.displayedName')">
          <fa-icon [icon]="warning"></fa-icon>
          This field is required
        </small>
      </div>
      <div class="from-group">
        <label class="required">Login</label>
        <input
          type="text"
          class="form-control form-control-sm"
          [ngClass]="{ 'is-invalid': hasError('enterprise.userLogin') }"
          placeholder="Login"
          formControlName="userLogin"
        />
        <small *ngIf="hasError('enterprise.userLogin')">
          <ng-container
            *ngIf="hasErrorByName('enterprise.userLogin', 'required')"
          >
            <fa-icon [icon]="warning"></fa-icon>
            This field is required
          </ng-container>
          <ng-container
            *ngIf="hasErrorByName('enterprise.userLogin', 'minlength')"
          >
            <fa-icon [icon]="warning"></fa-icon>
            Min length is 3 characters
          </ng-container>
        </small>
      </div>
    </div>
    <div formGroupName="department" class="card-body">
      <h5>Department</h5>
      <div class="form-group mb-2">
        <label class="required">Department name</label>
        <input
          type="text"
          class="form-control form-control-sm"
          [ngClass]="{ 'is-invalid': hasError('department.name') }"
          placeholder="Name of root department"
          formControlName="name"
        />
        <small *ngIf="hasError('department.name')">
          <ng-container *ngIf="hasErrorByName('department.name', 'required')">
            <fa-icon [icon]="warning"></fa-icon>
            This field is required
          </ng-container>
        </small>
      </div>
      <div class="form-group">
        <label class="required">Department code</label>
        <input
          type="text"
          class="form-control form-control-sm"
          [ngClass]="{ 'is-invalid': hasError('department.code') }"
          placeholder="Code of root department"
          formControlName="code"
        />
        <small *ngIf="hasError('department.code')">
          <ng-container *ngIf="hasErrorByName('department.code', 'required')">
            <fa-icon [icon]="warning"></fa-icon>
            This field is required
          </ng-container>
          <ng-container *ngIf="hasErrorByName('department.code', 'minlength')">
            <fa-icon [icon]="warning"></fa-icon>
            Min length is 2 characters
          </ng-container>
        </small>
      </div>
    </div>
    <div class="card-body">
      <button type="submit" class="btn btn-primary" (click)="submit()">
        Create
      </button>
    </div>
  </form>
</div>
